<h1><%= @post.title %> - <%=@post.price %></h1>
  <p>
    <%= @post.body %>
  </p>
  <p>
    <%= @post.location %>
  </p>

  <%= link_to "back to #{@category.name}", category_path(@category) %>

  <%= link_to 'edit or delete', edit_category_post_path(@category, @post) %>
